
{{!--  {{{ }}} refers to the master, {{ }} refers to the child (or children) --}}

<h1>optional</h1>

<ul>
{{!-- [insert name] is an array of data, so #each command is needed --}}
{{#each insertname }}
  <li>{{ name }}</li>
{{/each}}
<hr>
</ul>