
<div class="jumbotron">

  <p class="lead">This is Harvey</p>
  <h3 class="display-6">Harvey is Hungry</h2>
  <h1 class="display-2">Feed Harvey</h1>

  
</div>

<div class="container">

  <div class="row mx-auto">

    <div class="col col-submit">

    </div>
      
  </div>
  
  <div class="row">

    {{!-- Devoured False/0 Column with input --}}
    <div class="col-sm-4 col-md-4 col-lg-4">

      <h4>Feed:</h4>

      <div id="forminput" class="justify-content-center">
    
        <form class="create-form">

          <div class="input-group">
                      
            <input id="addfeed" class="form-control">

              <span class="input-group-btn">

                <button class="btn btn-info" id="add" type="submit">Add</button>

              </span>
              
          </div>

        </form>

      </div>

      <ol>
        
        {{!-- Use each to display every item in Food Obj--}}
        {{#each foodObj }}
        
          {{!-- if false, render --}}
          {{#unless devoured}}

            <li><span>{{ food_name }}</span>
            <button data-id="{{id}}" class="feed-harvey">Feed Harvey</button></li>

          {{/unless}}

        {{/each}}

      </ol>
        
        {{!-- end column 1 --}}
    </div>


    {{!-- Column Harvey img --}}
      
    {{!-- https://happydorid.tumblr.com/post/148484344109/plant-friend --}}

      <div class="col-sm-4 col-md-4 col-lg-4">

        <img id="harvey" src="/assets/images/harvey.jpg">

      </div>


    {{!-- Devoured True/1 Column --}}

    <div class="col-sm-4 col-md-4 col-lg-4">

      <h4>Fed:</h4>

      <ol>
        {{!-- Use each to display every item in foodObj --}}
        {{#each foodObj }}
        
          {{!-- if true, render --}}
          {{#if devoured}}

            <li>{{ food_name }}</li>

          {{/if}}
          
        {{/each}}

      </ol>

    </div>


  {{!-- end row --}}
  </div>

{{!-- end container --}}
</div>
