
<div class="jumbotron">

  <p class="lead">This is Harvey</p>
  <h3 class="display-6">Harvey is Hungry</h2>
  <h1 class="display-2">Feed Harvey</h1>

  <div id="forminput" class="justify-content-center">
    
    <form class="form input">

        {{!-- <div class="form-group">

          <textarea type="text" id="food" rows="2"></textarea>
        
        </div> --}}

        <div class="input-group">
          
          <input class="form-control">

          <span class="input-group-btn">
              <button class="btn btn-info" type="button">Add to Feed</button>
          </span>
        </div>

      </form>

  </div>



  
</div>

<div class="container">

  <div class="row mx-auto">

    <div class="col col-submit">

      {{!-- <h3>Add food for Harvey:</h3> --}}
          
    
    </div>
      
  </div>
  
  <div class="row">
    

    {{!-- Col Not-Devoured --}}

        <div class="col-sm-4 col-md-4 col-lg-4">
          {{!-- add list of items that have not been devoured here --}}
          {{!-- when a database item devoured is marked as false, goes in this space --}}

          <h4>Feed:</h4>

          <ol>
            {{!-- Use each to display every item in the [insertname] array --}}
            {{#each burgersObj }}
            {{#unless devoured}}

            <li><span>{{ food_name }}</span>
            <button class="feed-harvey">Feed Harvey</button></li>

             {{/unless}}

            {{/each}}

          </ol>
        
        </div>


         {{!-- Column Harvey --}}
      
      {{!-- https://happydorid.tumblr.com/post/148484344109/plant-friend --}}

      <div class="col-sm-4 col-md-4 col-lg-4">

        <img id="harvey" src="/assets/images/harvey.jpg">

      </div>


        {{!-- Col Devoured --}}

        <div class="col-sm-4 col-md-4 col-lg-4">

          {{!-- add list of items that have not been devoured here --}}
          {{!-- when a database item devoured is marked as false, goes in this space --}}

          <h4>Fed:</h4>

          <ol>
            {{!-- Use each to display every item in the [insertname] array --}}
            {{#each burgersObj }}
              {{#if devoured}}
                <li>{{ food_name }}</li>
              {{/if}}
            {{/each}}

            {{!-- <hr> --}}
          </ol>

        </div>


  {{!-- end row --}}
  </div>


</div>
