body {
    background-color: lightskyblue;
}


.jumbotron {
    text-align: center;
    background-color: #8FBC8F;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }


  .col-submit {
    display: flex;
    margin: 30px;
    padding: 80px;
    text-align: center;
  }

  #harvey {
    display: block;
    margin: auto;
  }

  #forminput {
    display: flex;
    padding: 10px;
  }

  .input {
    padding: 0px;
    margin: 0px;
  }


