body {
    background-color: lightskyblue;
}


.jumbotron {
    text-align: center;
    background-color: #8FBC8F;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  #harvey {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  #forminput {
    display: flex;
    padding: 10px;
    margin: 15px;
  }

  .input {
    padding: 0px;
    margin: 0px;
  }


  h4 {
    text-align: center;
  }

  #deleteall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 20px;
  }

#feedme {
  visibility: visible;
}

li {
  margin: 5px;
}

.fed {
  background-color:lightgray;
  color:black;
}

p {
  margin-top: 10px;
  text-align: center;
}